[*]

# ReSharper properties
resharper_int_align_assignments = true
resharper_int_align_switch_expressions = true
resharper_int_align_fields = true
resharper_csharp_wrap_after_declaration_lpar = true
resharper_csharp_wrap_after_invocation_lpar = true
resharper_csharp_wrap_arguments_style = chop_if_long
resharper_csharp_wrap_parameters_style = chop_if_long
resharper_instance_members_qualify_declared_in = base_class
resharper_force_attribute_style = join
resharper_place_accessorholder_attribute_on_same_line = false
resharper_trailing_comma_in_multiline_lists = true
resharper_wrap_chained_method_calls = chop_if_long
